@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/litera/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.nav-tabs > li.open, .fav-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #90b2fc;
}

.fav-tabset > .nav-tabs > li.open > a, .fav-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: 0 !important;
    color: #333333;
}

.fav-tabset > .nav-tabs > li.open > a > i, .fav-tabset > .nav-tabs > li:hover > a > i {
 color: #a6a6a6;   
}

.fav-tabset > .nav-tabs > li.open .dropdown-menu, .fav-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}

.fav-tabset >.nav-tabs > li.active {
    border-bottom: 4px solid rgb(1, 70, 173);
    position: relative;
}

.fav-tabset > .nav-tabs > li.active > a {
    color: #404040;
}

.fav-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}