<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a
      class="navbar-brand"
      [routerLink]="['/principal']"
      routerLinkActive="active"
      >Social Coding</a
    >

    <ul *ngIf="sesionIniciada()" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/favoritos']"
          routerLinkActive="active"
          >Favoritos<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/coderos']"
          routerLinkActive="active"
          >Coderos</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/mensajes']"
          routerLinkActive="router-link-active"
          >Mensajes</a
        >
      </li>
    </ul>

    <div *ngIf="sesionIniciada()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light pointing" dropdownToggle>
        <span class="mr-1"
          ><img src="{{ imagenUrl }}" alt=""
        /></span>
        ¡Bienvenido/a {{ getAuthServicio().tokenD?.unique_name | titlecase }}!
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item pointing" [routerLink]="['/fav/editar']"
          ><i class="fa fa-user"></i> Editar perfil</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item pointing" (click)="cerrarSesion()"
          ><i class="fa fa-sign-out"></i> Cerrar sesión</a
        >
      </div>
    </div>

    <form
      *ngIf="!sesionIniciada()"
      #isesionForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="iniciarSesion()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Nombre de usuario"
        name="nombreUsuario"
        [(ngModel)]="usuario.nombreUsuario"
        required
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        placeholder="Contraseña"
        name="contra"
        [(ngModel)]="usuario.contra"
        required
      />
      <button
        class="btn verde my-2 my-sm-0"
        [disabled]="!isesionForm.valid"
        type="submit"
      >
        Iniciar sesión
      </button>
    </form>
  </div>
</nav>
